header
    padding: 20px 0
    background-color: rgba(33,37,41,255)
    background-image:url(assets/header-bp.jpg)
    background-position: center
    .menu
        .imgbox
            width: 120px
        nav
            a
                font-size: 15px
                color: rgba(246,246,246,255)
                margin-right: 20px
    