#PORTFOLIO
    margin: 50px 0
    background-color: rgba(248,249,250,255)
    .textbox
        padding-top: 60px
        h1
            line-height: 2.3
            font-size: 35px
            font-weight: bold
        h3
            font-style: italic
            color: rgba(115,124,131,255)